<div class="container">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">{{section.settings.title}}</h1>
        <p class="lead">{{section.settings.Description}}

        </p>
    </div>

    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Free</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$0
                    <small class="text-muted">/ mo</small>
                </h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>10 users included</li>
                    <li>2 GB of storage</li>
                    <li>Email support</li>
                    <li>Help center access</li>
                </ul>
                <button class="btn btn-lg btn-block btn-outline-primary" type="button">Sign up for free</button>
            </div>
        </div>
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Pro</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$15
                    <small class="text-muted">/ mo</small>
                </h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>20 users included</li>
                    <li>10 GB of storage</li>
                    <li>Priority email support</li>
                    <li>Help center access</li>
                </ul>
                <button class="btn btn-lg btn-block btn-primary" type="button">Get started</button>
            </div>
        </div>
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Enterprise</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$29
                    <small class="text-muted">/ mo</small>
                </h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>30 users included</li>
                    <li>15 GB of storage</li>
                    <li>Phone and email support</li>
                    <li>Help center access</li>
                </ul>
                <button class="btn btn-lg btn-block btn-primary" type="button">Contact us</button>
            </div>
        </div>
    </div>
</div>


{% schema %}

{
    "name": "Pricing",
    "class": "section-pricing",
    "tag": "section",
    "settings": [
        {
            "id": "title",
            "type": "text",
            "label": "Title",
            "default": "Pricing"
        }, {
            "id": "Description",
            "type": "textarea",
            "label": "Section Description",
            "default": "https://shopify.dev/docs/themes/sections/content-schema https: //shopify.dev/tutorials/develop-theme-use-sections#class"
        }
    ],
    "blocks": [
        {
            "type": "tier",
            "name": "Tier",
            "limit": 4,
            "settings": [
                {
                    "id": "tier_name",
                    "type": "text",
                    "label": "Tier Name",
                    "default": "Free"
                }, {
                    "id": "tier_price",
                    "type": "text",
                    "label": "Tier Price",
                    "default": "0"
                }, {
                    "id": "tier-date",
                    "type": "select",
                    "label": "Tier Date",
                    "options": [
                        {
                            "value": "dy",
                            "label": "Daily"
                        }, {
                            "value": "mo",
                            "label": "Monthly"
                        }, {
                            "value": "yr",
                            "label": "Yearly"
                        }
                    ],
                    "default": "mo"
                }, {
                    "id": "tier_description",
                    "type": "textarea",
                    "label": "Tier Description",
                    "info": "Seperate by a coma",
                    "default": "10 users included, 2GB of storage, Email support, Help center access",
                    "placeholder": "example a, example b, example c"
                }, {
                    "id": "tier_button_style",
                    "type": "select",
                    "label": "button style",
                    "options": [
                        {
                            "value": "outline",
                            "label": "Outline"
                        }, {
                            "value": "filled",
                            "label": "filled"
                        }
                    ],
                    "default": "outline"
                }, {
                    "id": "tier_button_text",
                    "type": "text",
                    "label": "Button Text",
                    "default": "Sign Up"
                }, {
                    "id": "tier_button_link",
                    "type": "text",
                    "label": "Tier Link URL",
                    "default": "#"
                }
            ]
        }
    ]
}

{% endschema %}
